<% include partials/header %>

<% if (Article) {%>

  <%for (var i = 0; i < Article.length; i++){%>

  <div class="articles">

    <div class="container-fluid article-container">
      <div data-_id="<%=Article[i]._id%>" class="card card-id" data="<%=Article[i]._id%>" >
        <div class="card-header">
          <h3>
            <a class="article-link" target="_blank" rel="noopener noreferrer" href="<%=Article[i].link%>">
              <%=Article[i].title%>
            </a>
            <a class="btn btn-success save">SAVE ARTICLE</a>
            <a class="btn btn-success comment">LEAVE COMMENT</a>
          </h3>
        </div>
        <div class="card-body summary">
          <%=Article[i].summary%>
        </div>
      </div>
    </div>

  </div>

  <div id="comments">

  </div>

  <%}%>

<%}%>

<% include partials/footer %>